/*------------------------------------------------ FONT SECTION ------------------------------------------------*/

@font-face { /* Font AstronoMax */
  font-family: 'ankh_sanctuaryregular';
  src: url('fonts/ankhsanctuary-nrox4-webfont.woff2') format('woff2'),
  url('fonts/ankhsanctuary-nrox4-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face { /* Font Jedi */
  font-family: 'Star Jedi';
  src: url('fonts/StarJedi.woff2') format('woff2'),
  url('fonts/StarJedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
/*------------------------------------------------ HTML SECTION ------------------------------------------------*/
  
html {
  scroll-behavior: smooth;
}
  
/*------------------------------------------------ BODY SECTION ------------------------------------------------*/
  
body {
  position: relative;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5),100%, transparent), url("https://zupimages.net/up/23/16/tb21.jpg");
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
  
/*------------------------------------------------ TITRE CHAPITRE SECTION ------------------------------------------------*/

.chapitre-3 .title h1 {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	font-size: 28px;
	font-family: 'Star Jedi';
	letter-spacing: 5px;
	color: white;
}

/*------------------------------------------------ INGENIEUR TEXT ------------------------------------------------*/

.chapitre-3 .first-part {
	display: block;
	flex-wrap: wrap;
	padding: 0.1em 0em;
	background-image: linear-gradient(to right top, #000000, #130508, #1f0a0c, #280d0f, #320f0f);
	background-position: center;
	background-repeat: no-repeat;
}

.chapitre-3 .first-part .commandant {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 5px;
	border-radius: 5px;
	width: 13%;
}

.chapitre-3 .first-part p {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15%;
	margin-right: 20px;
	text-align: justify;
	font-family: 'Roboto';
	font-size: 21px;
	color: white;
}

.chapitre-3 .first-part li {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15%;
	margin-right: 20px;
	font-family: 'Roboto';
	font-size: 21px;
	color: white;
}

/*------------------------------------------------ PARAMETRE ------------------------------------------------*/

.chapitre-3
.text-choix-combi,
.img-choix-combi {  /*--- PARAMETRE TEXT + IMAGE ---*/
  display: flex;
  align-items: center; 
}

/*------------------------------------------------ TEXTE PORTE ------------------------------------------------*/

.chapitre-3 .text-choix-combi .text-noir {  /*--- TEXT ---*/
	margin-left: 28%;
	font-size: 30px;
	font-family: 'Star Jedi';
  letter-spacing: 5px;
	color: aliceblue;
}

/*------------------------------------------------ IMAGES PORTE ------------------------------------------------*/

.chapitre-3 .img-choix-combi a { /*--- ANCHOR ---*/
  flex: 1;
	margin-left: 33%;
	height: auto;
	opacity: 0.5;
	transition: all 1s;
}

.chapitre-3 .img-choix-combi img { /*--- IMAGES ---*/
	max-width: 500px;
}

.chapitre-3 .img-choix-combi a:hover { /*--- IMAGES HOVER ---*/
	opacity: 1;
}
