/*------------------------------------------------ FONT SECTION ------------------------------------------------*/

@font-face { /* Font AstronoMax */
    font-family: 'ankh_sanctuaryregular';
    src: url('fonts/ankhsanctuary-nrox4-webfont.woff2') format('woff2'),
         url('fonts/ankhsanctuary-nrox4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Font Jedi */
  font-family: 'Star Jedi';
  src: url('fonts/StarJedi.woff2') format('woff2'),
      url('fonts/StarJedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*------------------------------------------------ BODY SECTION ------------------------------------------------*/

body {
  position: relative;
  height: 30%;
  background: linear-gradient(to top, rgb(0, 0, 0),60%, transparent), url("https://zupimages.net/up/22/20/ftb5.jpg"); /*Effet dégradé avec image*/
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

/*------------------------------------------------ HEADER SECTION ------------------------------------------------*/

.header h1{ /* ASTRONOMAX */
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  justify-content: center;
  font-size: 55px;
  font-family: ankh_sanctuaryregular;
  letter-spacing: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-family: 'Star Jedi';
  font-size: 13px;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.menu li {
  list-style-type: none; /* Supprime les puces de <li> du menu */
}

.menu a {
  display: block;
  min-width: 155px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.6em 0;
  text-align: center;
  background-color: #0000004f;
  color: white;
  text-decoration: none; /* Supprime le soulignement */
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.75s; /* Effet de dégradé du hover au survol des menus */
}

.menu a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 32, 173, 0.703);
  border-color: rgb(255, 255, 255);
}

/*------------------------------------------------ SYSTEM SOLAIRE SECTION ------------------------------------------------*/

.solar-sys h2 { /* Titre */
  display: flex;
  flex-wrap: wrap;
  font-family: 'Star Jedi';
  justify-content: center;
  font-size: 40px;
  letter-spacing: 8px;
  color: #ffffff;
}

.solar-sys img {  /* Image */
  display: block;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.solar-sys p { /* Paragraphe */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
}

/*------------------------------------------------ MERCURE SECTION ------------------------------------------------*/

.planetes .mercure-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/mpxk.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .mercure-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .mercure-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .mercure-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 40%;
  border-radius: 15px;
  left: 840px;
  bottom: 370px;
}


/*------------------------------------------------ VENUS SECTION ------------------------------------------------*/

.planetes .venus-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/vuhl.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .venus-planete h2 {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .venus-planete li {
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .venus-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 52%;
  border-radius: 15px;
  left: 750px;
  bottom: 420px;
}

/*------------------------------------------------ TERRE SECTION ------------------------------------------------*/

.planetes .terre-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/538a.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .terre-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .terre-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .terre-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 30%;
  border-radius: 15px;
  left: 920px;
  bottom: 380px;
}

/*------------------------------------------------ MARS SECTION ------------------------------------------------*/

.planetes .mars-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/3fyb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .mars-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .mars-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .mars-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 22%;
  border-radius: 15px;
  left: 985px;
  bottom: 380px;
}


/*------------------------------------------------ JUPITER SECTION ------------------------------------------------*/

.planetes .jupiter-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),0%, transparent), url("https://zupimages.net/up/23/15/7pr7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .jupiter-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .jupiter-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .jupiter-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 26%;
  border-radius: 15px;
  left: 950px;
  bottom: 400px;
}

/*------------------------------------------------ SATURNE SECTION ------------------------------------------------*/

.planetes .saturne-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/awwj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .saturne-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .saturne-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .saturne-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 50%;
  border-radius: 15px;
  left: 790px;
  bottom: 400px;
}

/*------------------------------------------------ URANUS SECTION ------------------------------------------------*/

.planetes .uranus-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/8s6b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planetes .uranus-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .uranus-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .uranus-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 35%;
  border-radius: 15px;
  left: 900px;
  bottom: 420px;
}

/*------------------------------------------------ NEPTUNE SECTION ------------------------------------------------*/

.planetes .neptune-planete { /* Background */
  height: 70vh;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788),60%, transparent), url("https://zupimages.net/up/23/15/cyct.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.planetes .neptune-planete h2 { /* Titre */
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-family: 'Star Jedi';
  letter-spacing: 8px;
  color: #ffffff;
}

.planetes .neptune-planete li { /* Liste Caractéristique */
  display: block;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Star Jedi';
  justify-content: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

.planetes .neptune-planete img { /* GIF */
  position: relative;
  flex-wrap: wrap;
  width: 45%;
  border-radius: 15px;
  left: 830px;
  bottom: 400px;
}

/*------------------------------------------------ FOOTER SECTION ------------------------------------------------*/

footer a {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  color: #ffffff;
  transition: all 1s;
}

footer a:hover {
  color: darkgoldenrod;
}