/*------------------------------------------------ FONT SECTION ------------------------------------------------*/

@font-face { /* Font AstronoMax */
  font-family: 'ankh_sanctuaryregular';
  src: url('fonts/ankhsanctuary-nrox4-webfont.woff2') format('woff2'),
  url('fonts/ankhsanctuary-nrox4-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face { /* Font Jedi */
  font-family: 'Star Jedi';
  src: url('fonts/StarJedi.woff2') format('woff2'),
  url('fonts/StarJedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
/*------------------------------------------------ HTML SECTION ------------------------------------------------*/
  
html {
  scroll-behavior: smooth;
}
  
/*------------------------------------------------ BODY SECTION ------------------------------------------------*/
  
body {
  position: relative;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7),100%, transparent), url("https://zupimages.net/up/23/16/lrrl.jpg");
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
  
/*------------------------------------------------ TITRE CHAPITRE SECTION ------------------------------------------------*/

.chapitre-5 .title h1 {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	font-size: 28px;
	font-family: 'Star Jedi';
	letter-spacing: 5px;
	color: white;
}

/*------------------------------------------------ ASSISTANTE TEXT ------------------------------------------------*/

.chapitre-5 .first-part {
	display: block;
	flex-wrap: wrap;
	padding: 0.1em 0em;
	background-image: linear-gradient(to right top, #1d2020, #273e3f, #2c5e61, #2b8085, #1fa4ad);
	background-position: center;
	background-repeat: no-repeat;
}

.chapitre-5 .first-part .ia {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 5px;
	border-radius: 5px;
	width: 13%;
}

.chapitre-5 .first-part p {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15%;
	text-align: justify;
	font-family: 'Roboto';
	font-size: 21px;
	color: white;
}

.chapitre-5 .first-part li {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15%;
	margin-right: 20px;
	font-family: 'Roboto';
	font-size: 21px;
	color: white;
}

b {
  color: #11dc1c  ;
}

/*------------------------------------------------ CHOIX CONFIG ------------------------------------------------*/

.chapitre-5 .debut-reponse h3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 35px;
	color: aliceblue;
}

a {
	display: flex;
	flex-wrap: wrap;
	border: solid;
	border-color: aliceblue;
  margin-right: 8%;
  margin-left: 8%;
	margin-bottom: 1em;
	padding: 0.2em 0.5em;
	text-align: center;
	justify-content: center;
	text-decoration: none;
  font-size: 25px;
	color: aliceblue;
  transition: all 1s;
}

.rep-1 a:hover {
  border-radius: 10px;
  background-color: #698808
}

.rep-2 a:hover {
  border-radius: 10px;
  background-color: #088867
}

.rep-3 a:hover {
  border-radius: 10px;
  background-color: #270888
}

.rep-4 a:hover {
  border-radius: 10px;
  background-color: #880829
}